{% load static %}
<!-- .js ja css jos olisi määritetty sellaisia -->

<!DOCTYPE html>

<head>
    <title>Constacts app</title>
    <!-- <script src="./koodi.js" type="text/javascript"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- omat tyylit jos olisi määritetty -->
    <link rel="stylesheet" href="{% static 'tasks/styles.css' %}">
</head>

<body>
    <center>
        <h3>Django with microsoft SQL server</h3>
        <h1>Contacts app</h1>
        <hr />
        <table border="1">
            <tr>
                <th>
                    first name
                </th>
                <th>
                    last name
                </th>
                <th>
                    email
                </th>
                <th>
                    phone
                </th>
            </tr>
            <!-- Vittaus model luokkaan sqlserverconn jonka objektit loopataan -->
            {% for data in persons %}
            <tr>
                <td>{{data.firstname}}</td>
                <td>{{data.lastname}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phone}}</td>
            </tr>
            {% endfor %}
        </table>

    </center>
</body>

</html>