<!DOCTYPE html>

<head>
    <title>Constacts app</title>
    <!-- <script src="./koodi.js" type="text/javascript"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #sqlinfo {
            color: aqua;
        }

        .omaButton {
            display: block;
            width: 115px;
            height: 25px;
            background: #4E9CAF;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            line-height: 25px;
        }
    </style>
</head>

<body>
    <center>
        <h5 id="sqlinfo">Django with microsoft SQL server</h5>
        <hr />
        <h1>Contacts app</h1>
        <hr />
        <table border="1">
            <tr>
                <th>
                    first name
                </th>
                <th>
                    last name
                </th>
                <th>
                    email
                </th>
                <th>
                    phone
                </th>
            </tr>
            <!-- Viittaus model luokkaan persons, jonka objektit käydään läpi for loopissa -->
            {% for data in persons %}
            <tr>
                <td>{{data.firstname}}</td>
                <td>{{data.lastname}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phone}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr />
        <a class="omaButton" href="{% url 'addcontact' %}">Add new</a>

    </center>

</body>

</html>